### Tipe Data Python

Tipe data adalah suatu media atau memori dalam komputer yang digunakan untuk menyimpan informasi.

<h4>Berikut adalah tipe data dari bahasa pemrograman python:</h4>

In [1]:
# TIPE DATA BOOLEAN
# Menyatakan benar True/1, atau salah False/0
sedangBelajar = False
print(sedangBelajar)

False

In [2]:
# TIPE DATA STRING
# Menyatakan karakter/kalimat yang berupa abjad, angka, karakter spesial dll yang diapit oleh " ", ' ', """ """
namaLengkap = "Widya Ade Bagus"
namaDepan = 'Widya Ade'
catatan = """Perjalanan menuju angkasa oleh elon musk"""
print(namaLengkap)
print(namaDepan)
print(catatan)

Widya Ade Bagus
Widya Ade
Perjalanan menuju angkasa oleh elon musk

In [3]:
# TIPE DATA NUMBER

# INTEGER
# Meyatakan bilangan bulat
berat = 10
print("Integer:", berat)

# FLOAT
# Menyatakan bilangan pecahan
tinggi = 165.85
print("Float:", tinggi)

# HEXADECIMAL
# Menyatakan bilangan dalam format heksa (bilangan berbasih 16)
bilangan = 0x9a # diawali dengan 0x dan bilangan heksa
print("Hexadecimal:", bilangan) # cetak nilai heksa dalam bentuk desimal

# COMPLEX
# Menyatakan pasangan angka real dan imajiner
angka = 5j
print("Complex:", angka)

Integer: 10
Float: 165.85
Hexadecimal: 154
Complex: 5j

In [16]:
# LIST
# Menyatakan data dengan item berurutan.
deret = [1, "Dua", 3.0, False, 56, 59]
print(deret)      # Mencetak semua list
print(deret[0])   # Mencetak list pada bagian index pertama
print(deret[:2]) # slicing/pengaksesan sejumlah item

[1, 'Dua', 3.0, False, 56, 59]
1
[1, 'Dua']

In [24]:
# TUPLE
# Jenis data lain yang mirip dengan list. perbedaannya dengan list adalah anggota tidak dapat dirubah (imutable). 
# list termasuk (mutable)
data = ("Widya Ade Bagus", 25, False)
print(data)     # mencetak tuple
print(data[1])  # mencetak tuple pada bagian index kedua
print(data[:2]) # slicing dari index pertama sampai index ke dua

('Widya Ade Bagus', 25, False)
25
('Widya Ade Bagus', 25)

In [17]:
# SET
# Salah satu tipe data di Python yang tidak berurut (unordered).
# Set memiliki anggota unik (tidak ada duplikasi)
data = {1,2,2,3,3,4,5,6,7,8,8,9}
print(data)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [21]:
# DICTIONARY
# Tipe data yang tiap anggotanya terdiri dari pasangan kunci-nilai (key:value).
biodata = {"nama": "widya ade bagus", "umur": 25, "hobi": "berpetualang"}
print(biodata)

{'nama': 'widya ade bagus', 'umur': 25, 'hobi': 'berpetualang'}